<!DOCTYPE html>
<html lang="en">
<head>
  <!DOCTYPE html>
  <html lang="en">
    <head>
            <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
      <link href="https://fonts.googleapis.com/css?family=Lily+Script+One" rel="stylesheet">

      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.js"></script>
        <script src="assets/js/respond.min.js"></script>
      <![endif]-->
	<style>
		canvas {
		border: 3px solid darkGrey;
		border-radius: 5px;
		background-color:#f2f2f2;
		display: block;
		position: absolute;
		margin: auto;
		top:0;
		bottom:0;
		left: 0;
		right:0;
		}

		a {
		font-size: 32px;
		font-family: Arial;
		color: #0095DD;
		}
	</style>
    </head>

    <body data-spy="scroll" data-offset="0" data-target="#nav">

  <canvas id="myCanvas" width="480" height="320"></canvas>
  <script src="breakout.js"></script>
</body>

</html>
